@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Poppins', system-ui, sans-serif;
    }
  }
